.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.menu {
    margin: 5px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #f1f1f1;
    vertical-align: middle;
    
}
.menu-item {
    float: left;
    margin: 0px;
    padding: 20px;
    vertical-align: middle;
    background-color:#f1f1f1;
    /* max-height: 58px; */
}
.drop-menu {
    padding: 0px;
    height: 100%;
}

.drop-items {
    list-style: none;
    position: absolute;
    display: none;
    background-color: #fcfcfc;
    /* min-width: 160px; */
    z-index: 1;
    margin: 0;
    padding: 0px;
    margin-top: 0px;
}



.drop-item {
    padding-top: 30px;
    display: block;
    text-align: left;
    float: none;
    min-width: 200px;
}

#icon-item {
    max-height: 100%;
    height: 100%;
}

.menu-item#search-item {
    float: right;
    right: 0;
}

.menu-item:hover {
    /* background-color: #fcfcfc; */
    background: #fcfcfc;
    cursor: pointer;
}

.menu-item:hover .drop-items {
    display: block;
}

.drop-item a:hover {
    background-color: brown;
}